<footer class="h-24 w-auto">
    <div class="flex justify-center space-x-12 p-4">
        <a routerLink="" class="text-gray-300">HOME</a>
        <a routerLink="/species" class="text-gray-300">SPECIES</a>
        <a routerLink="/films" class="text-gray-300">FILMS</a>
        <a routerLink="/people" class="text-gray-300">PEOPLE</a>
        <a routerLink="/planets" class="text-gray-300">PLANETS</a>
    </div>
    <i class="flex justify-center space-x-11 p-4 pt-1">
        <a href="https://www.facebook.com/StarWars" target="_blank">
            <img src="../assets/svg/facebook-outline-svgrepo-com.svg" alt="" class="h-6">
        </a>
        <a href="https://www.instagram.com/starwars/" target="_blank">
            <img src="../assets/svg/instagram-outline-svgrepo-com.svg" alt="" class="h-6">
        </a>
        <a href="https://www.youtube.com/user/starwars" target="_blank">
            <img src="../assets/svg/youtube-svgrepo-com.svg" alt="" class="h-6">
        </a>
        <a href="https://twitter.com/starwars" target="_blank">
            <img src="../assets/svg/twitter-svgrepo-com.svg" alt="" class="h-6">
        </a>
    </i>
    <div><a href="https://github.com/vivibz" target="_blank" class="text-gray-300 flex justify-center pb-4">vivibz- Todos os direitos reservados - 2022</a></div>
    
</footer>
