<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<main class="style-bg-body">
    <app-loading *ngIf="loading" class="m-auto ml-72"></app-loading>
        <section *ngFor="let films of receiveMovies" class="pt-3 p-4">
            <div class="card-bg-body" *ngIf="searchText === '' || films.title.toLowerCase().includes(searchText)">
                <dl> 
                    <div class="styles-cards bg-slate-300"> 
                        <h3 class="style-text-title">{{films.title}}</h3>
                    </div>

                    <div class="border-card "></div>

                    <div class="style-first-line-card">
                        <dt class="style-text-cards-primary">Episódios: <span class="style-text-cards-secondary px-1">{{films.episode_id}}</span></dt>
                    </div>
                    <div class="style-cards-secondary sm:px-6 ">
                        <dt class="style-text-cards-primary">Resumo: </dt>
                        <dd class="style-text-cards-secondary">{{films.opening_crawl}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Diretor: </dt>
                        <dd class="style-text-cards-secondary">{{films.director}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Produtor: </dt>
                        <dd class="style-text-cards-secondary">{{films.producer}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Data de Lançamento: </dt>
                        <dd class="style-text-cards-secondary">{{films.release_date}}</dd>
                    </div>
                    
                </dl>
            </div>
        </section>  
</main>