<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<main class="style-bg-body "> <!--criar class única-->
    <app-loading *ngIf="loading" class="m-auto ml-72"></app-loading>
        <section *ngFor=" let planets of receivePlanets" class="pt-3 p-9">
            <div class="card-bg-body" *ngIf="searchText === '' || planets.name.toLowerCase().includes(searchText)">    
                <dl> 
                    <div class="card-py"> 
                        <h3 class="style-text-title">{{planets.name}}</h3>
                    </div>
                    <div class="border-card"></div>

                    <div class="style-first-line-card">
                        <dt class="style-text-cards-primary">Rotation Period: <span class="style-text-cards-secondary px-1">{{planets.rotation_period}}</span> </dt> 
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Orbital Period:</dt>
                        <dd class="style-text-cards-secondary">{{planets.orbital_period}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Diameter: </dt>
                        <dd class="style-text-cards-secondary">{{planets.diameter}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Climate: </dt>
                        <dd class="style-text-cards-secondary">{{planets.climate}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Gravity: </dt>
                        <dd class="style-text-cards-secondary text-xs">{{planets.gravity}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-4"> 
                        <dt class="style-text-cards-primary">Terrain: </dt>
                        <dd class="style-text-cards-secondary text-xs">{{planets.terrain}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Surface Water: </dt>
                        <dd class="style-text-cards-secondary">{{planets.surface_water}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Population: </dt>
                        <dd class="style-text-cards-secondary">{{planets.population}}</dd>
                    </div>
                </dl>
            </div>
        </section>
</main>