<div class=" sm:block flex ">
    <span class="flex mx-60 ">
        <img src="../assets/img/star-wars-4.svg" class="mx-auto mt-4 mb-5 sm:max-w-sm md:max-w-sm lg:max-w-lg" >
    </span>
</div>

<div class="hidden sm:block ">
    <nav> 
        <ul class="flex justify-center space-x-20 mx-auto ">
        <li>
            <a href="#" class="text-gray-600 mx-auto">Home</a>
        </li> 
        <li>
            <a href="#" class="text-gray-600">Filmes</a>
        </li>
        <li>
            <a href="#" class="text-gray-600">Planetas</a>
        </li>
        <li>
            <a href="#" class="text-gray-600">Espécies</a>
        </li>
    </ul>
</nav>
   
</div>
