<div class=" sm:block flex ">
    <span class="flex mx-60 ">
        <img src="../assets/img/star-wars-4.svg" class="mx-auto mt-4 mb-5 sm:max-w-sm md:max-w-sm lg:max-w-lg" >  <!--Corrgir responsividade: imagem só fica respos ao tocar na borda do lado esquerdo []-->
    </span>
</div>

    <nav class="bg-gray-500 mx-4 py-4 " > 
        <ul class="flex justify-center space-x-20  ">
        <li>
            <a href="#" class="text-black-600 hover:bg-blue-500 px-3 py-2 rounded-2xl">Home</a>
        </li> 
        <li>
            <a href="#" class="text-black-600 hover:bg-blue-500 px-3 py-2 rounded-2xl">Filmes</a>
        </li>
        <li>
            <a href="#" class="text-black-600 hover:bg-blue-500 px-3 py-2 rounded-2xl">Planetas</a>
        </li>
        <li>
            <a href="#" class="text-black-600 hover:bg-blue-500 px-3 py-2 rounded-2xl">Espécies</a>
        </li>
    </ul>
</nav>
   

