<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<main class="style-bg-body"> <!--criar class única-->
        <section *ngFor=" let people of receivePeople" class="pt-3 p-4">
            <div class="card-bg-body" *ngIf="searchText === '' || people.name.toLowerCase().includes(searchText)">  
                <dl> 
                    <div class="card-py"> 
                        <h3 class="style-text-title">{{people.name}}</h3>
                    </div>

                    <div class="border-card"></div>

                    <div class="style-first-line-card">
                        <dt class="style-text-cards-primary">Height: <span class="style-text-cards-secondary px-1">{{people.height}}</span></dt>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Mass: </dt>
                        <dd class="style-text-cards-secondary">{{people.mass}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Hair Color: </dt>
                        <dd class="style-text-cards-secondary">{{people.hair_color}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Skin Color: </dt>
                        <dd class="style-text-cards-secondary">{{people.skin_color}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Eye Color: </dt>
                        <dd class="style-text-cards-secondary">{{people.eye_color}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Birth Year: </dt>
                        <dd class="style-text-cards-secondary">{{people.birth_year}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Gender: </dt>
                        <dd class="style-text-cards-secondary">{{people.gender}}</dd>
                    </div>
                </dl>
            </div>
        </section>
</main>

<!-- adicionar imagens -->