@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0A0B0B;
}

.color-page {
    background: #0A0B0B;
}

.bg-image {
    background-image: url("src/assets/img/stars-gb7e64b56b_1920.jpg");
    background-size: 67%
}

@layer components {

    /* Cards*/
    .style-bg-body { 
        @apply color-page w-3/5 p-5 mx-auto flex flex-wrap justify-between px-16 py-7
    }
    .card-bg-body {
        @apply overflow-hidden bg-slate-300 shadow sm:rounded-lg
    }
    .card-py {
        @apply py-5 sm:px-6
    }
    .style-text-title {
        @apply text-lg font-medium leading-6 text-gray-900
    }

    .border-card {
        @apply border-t border-gray-200
    }

    .styles-cards {
        @apply bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
    }

    .style-first-line-card {  /*classe para a primeira linha do primeiro card para evitar posição diferente dos cards*/
        @apply bg-gray-100 px-4 py-5 sm:grid-cols-3 sm:gap-4 sm:px-6  
    }

    .style-cards-secondary {
        @apply bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 
    }

    .style-text-cards-primary {
        @apply text-sm font-medium text-gray-500
    }

    .style-text-cards-secondary {
        @apply  mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0
    }
   
}
/* You can add global styles to this file, and also import other style files */
