<span class=" lg:mr-6 absolute lg:right-16 lg:top-44 border-solid border-2 sm:ml-72 sm:top-56">
    <input type="text" name="search" placeholder=" Search... " class="w-72 " [(ngModel)]="searchFilter" (input)="onSearchFilter()"> 
</span>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:w-6 lg:h-6 lg:slate-300 absolute lg:right-24 lg:top-44 sm:h-6 sm:top-56 sm:right-80">
    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
</svg> 
