<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<main class="style-bg-body"> 
        <section *ngFor=" let species of receiveSpecies" class="pt-3 p-4">
            <div class="card-bg-body" *ngIf="searchText === '' || species.name.toLowerCase().includes(searchText)">
                <div class="styles-cards"> 
                    <h3 class="style-text-title">{{species.name}}</h3> 
                </div>
                <div class="border-card"></div>
                <dl> 
                    <div class="style-first-line-card">
                        <dt class="style-text-cards-primary">Classification: <span class="style-text-cards-secondary px-1">{{species.classification}}</span></dt>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Designation: </dt>
                        <dd class="style-text-cards-secondary">{{species.designation}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Average Height: </dt>
                        <dd class="style-text-cards-secondary">{{species.average_height}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Skin Color: </dt>
                        <dd class="style-text-cards-secondary">{{species.skin_colors}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Hair Color: </dt>
                        <dd class="style-text-cards-secondary">{{species.hair_colors}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Eye Colors: </dt>
                        <dd class="style-text-cards-secondary">{{species.eye_colors}}</dd>
                    </div>
                    <div class="styles-cards">
                        <dt class="style-text-cards-primary">Average Lifespan: </dt>
                        <dd class="style-text-cards-secondary">{{species.average_lifespan}}</dd>
                    </div>
                    <div class="style-cards-secondary sm:px-6">
                        <dt class="style-text-cards-primary">Language: </dt>
                        <dd class="style-text-cards-secondary">{{species.language}}</dd>
                    </div>
                </dl>
            </div>
        </section>
</main>
