<main class="bg-gray-900 w-1/2 p-4 mx-auto h-full ">
        <section class="flex ">
            <div class="text-slate-300 bg-slate-500 w-1/2 rounded-md ">
                <p class="mx-2 p-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor, officia illo, voluptatum numquam quisquam vero repudiandae eaque delectus doloremque unde hic quibusdam praesentium, expedita neque nobis sapiente quia tempora.
                </p>
            </div>
            <div class="text-slate-300 bg-slate-500 w-1/2 rounded-md ml-4">
                <p class="mx-2 p-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor, officia illo, voluptatum numquam quisquam vero repudiandae eaque delectus doloremque unde hic quibusdam praesentium, expedita neque nobis sapiente quia tempora.
                </p>
            </div>
        </section>
        
        
</main> 