<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<main class="style-bg-body">
    <p class="text-gray-500 text-2xl font-mono ml-10 mt-2 absolute ">Films</p>
    <div class="border-2 border-gray-500 absolute h-0 w-56 ml-10 mt-10" ></div>

    <div *ngFor="let imgFilm of imgFilms" class="space-x-14 pb-1 pr-10 mt-16">
        <button dialog-trigger="true"
        data-ripple-light="true"> <img src="{{imgFilm.img}}" alt="" class="h-auto w-auto max-h-60 max-w-56 ml-2"></button>
        <p class=" text-gray-500 mt-1">{{imgFilm.title}}</p>
   
    </div>

    <p class="text-gray-500 text-2xl font-mono ml-10 mt-80 absolute ">Peoples</p>
    <div class="border-2 border-gray-500 absolute h-0 w-56 ml-10 mt-96" ></div>

    <div *ngFor="let imgPeople of imgPeoples" class="space-x-14 pb-1 pr-10 mt-16">
        <a href=""></a>
        <img src="{{imgPeople.img}}" alt="" class="h-auto w-auto max-h-60 max-w-56 ml-2">
        <p class=" text-gray-500">{{imgPeople.title}}</p>
    </div>

   <section *ngFor="let card of cards"  class="pt-4 p-9 mt-4 ">
    <div class="max-w-sm p-6 bg-slate-300 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" *ngIf="searchText === '' || card.title.toLowerCase().includes(searchText)">
        <img src="{{card.icon}}" alt="" class="h-10">     
         <a routerLink="species">
             <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{card.title}}</h5>
         </a>
         <p class="mb-3 font-normal text-gray-500dark:text-gray-400">{{card.description}}</p>
         <a routerLink="{{card.link}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
             Read more
            <img src="../assets/svg/arrowButtom.svg" alt="" class="w-8 h-4">    
        </a> 
     
        </div>
       
    </section>
</main>
